table{
    border-collapse:collapse;
}
BODY{
    background-color: #666633;
}
a{
    color: white;
    text-decoration: none;

}

#menu td{
    width: 13%;
    text-align: center;
    background-color: #666699;
    color: white;
    font-size: 20px;
}
table#book{
    width: 20%;
}